.button {
    display : flex;
    flex-direction: column;
    justify-content: center;
    padding : 5px;
    border-radius : 5px;
    background-color : #08415C;
    color : #FFF;
    text-decoration : none;
    text-align: center;
    cursor : pointer;
    font : bold 0.8rem sans-serif;
    border: none;

    &:hover {
        background-color: #333;
        transition: background-color 0.5s;
    }
    
    &:focus {
        outline: none;
    }

    
}

.button--settings {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0;
    float:right;
    padding: 5px;
    background: rgba(0, 0, 0, 0);
    border: none;

    img {
        max-width: 100%;
        max-height: 100%;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        transition: background-color 0.5s;
    }

    &:focus {
        outline: none;
    }

}

.container--buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}

