.button {
    display : inline-block; 
    padding : .098em 1.075em;
    border : 0.094em solid #000; 
    border-radius : .625em;
    background-color : #111;
    box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
    color : #FFF;
    text-decoration : none;
    cursor : pointer;
    font : bold 0.8rem sans-serif;

    &:hover {
        background-color: #555;
        transition: background-color 0.5s;
    }

    &--settings {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0;
        float:right;
        padding: 5px;
        background-color: #fff;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

