.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    max-width: 100%;
    width: 100%;
    background: #6096BA;
    h3 {
        display: inline-block;
    }
}

.header--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    color: #fff;
}

.heading--header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}



#logout-form {
    display: inline-block;
}
