.priority {
    min-width: 600px;
    width: 85vw;
}

.estimation {
    display: flex;
    flex-direction: row;
    &__form {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        width: 25%;
        padding: 5px;
        & * {
            margin-right: 3px;
            margin-left: 3px;
        }
    }

    &__choice {
        display: flex;
        flex-direction: column; 
    }

    &__explanation {
        display: flex;
        flex-direction: column;
    }

    &__submit {
        margin: auto;
        margin-top: 10px;
        margin-bottom: auto;
        margin-right: 5px;
        text-align: center;
        
    }
    &__story {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    &__label {
        white-space: nowrap;
        overflow: hidden;
    }
}

.estimates {
    &__inner {
        display:flex;
        flex-direction: column;
    }
    &__outer {
        display:flex;
        flex-direction: column;
        border: 1px solid black;

    }
}

.estimate {
    margin-top: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
    &__delete {

    }
    &__info {
    }
    &__nr {
        margin-right: 5px; 
        white-space: nowrap;
        overflow: hidden;
        position: relative;
    }

    &__explanation {
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        width: 120px;
        text-align: center;
        padding: 5px 0;
        margin: 30px;
        background-color: #6096ba;
        border-radius: 5px; 
        word-wrap: break-word;
    }
}
