.settings--tab {
    display : none;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 5px 20px;
    flex-direction: row;
    justify-content: flex-end;
}


.settings--tab .button {
    margin-left: 10px;
}