.stories {
}

.stories, .menu__markings {
    border-radius: 5px;
    border: 1px solid #000;
    width: 70%;
    min-width: 450px;
    margin: 5px auto;
}

.index__col {
    width: 60%;
}

.story {   
    display: flex;
    flex-direction: row;

    &__text-content {
        width: 65%;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__editing {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    &__author {
        font-style: italic;
        font-size: 0.8rem;
        margin-top: 10px;
    }

    &__numbers {
        width: 35%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        & p {
            display: flex;
            align-content: center;  
            align-items: center;
        }

    }

    &:nth-child(2n) {
        background: rgba(96, 150, 186, 0.1);
    }
}

.menu {
    &__story-button {
        margin: auto;
        width: fit-content;
    }
    &__markings {
        display: flex;
        flex-direction: row;

    }
}

.markings {
    &__title {
        padding-left: 10px;
        width: 65%;
    }

    &__numbers {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 35%;

    }


}