
.view {
    &__container {
        height: 100vh;
        width: 100vw;
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    &__col {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
}